<!DOCTYPE html>
<html lang="en">
<head>
<title>{judulku}</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<meta name="description" content="{judulku}">
<meta name="keywords" content="biasawae, bukalapak, tokopedia"> 
<meta name="author" content="OmahBIASAWAE"> 

<link rel="canonical" href="{sek_url}" />


<script type="text/javascript" src="{sumber}/inc/js/jquery.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/jquery-ui.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/ui/jquery.ui.datepicker.js"></script>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript" src="{sumber}/inc/js/jquery.js"></script>

<link href="{sumber}/inc/bootstrap/bootstrap.css" rel="stylesheet" media="screen">
<link href="{sumber}/inc/bootstrap/navbar-fixed-top.css" rel="stylesheet">



</head>

<body onload="{diload}">











<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="{sumber}">BIASAWAE-Ambil-Produk</a>
  <hr>


</div>
<div style="height: 1px;" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="{tab_aktif_beranda}"><a href="{sumber}">BERANDA</a></li>
    <li class="{tab_aktif_direktori3}"><a href="{sumber}/bukalapak.php">BUKALAPAK</a></li>
    <li class="{tab_aktif_direktori5}"><a href="{sumber}/tokopedia.php">TOKOPEDIA</a></li>
  </ul>

</div><!--/.nav-collapse -->

  </div>


  
</div>





<table width="100%" border="0" cellspacing="0" cellpadding="3">
<tr bgcolor="#fff3b2" valign="top">
<td height="400">
<br>
<br>

{isi}





</td>



<td width="350">

   <table width="400" border="0" cellpadding="0" cellspacing="0" bgcolor="orange">
    <tr>
      <td align="left">
	  <font color="gray">
	  <iframe frameborder="0" width="400" src="http://analisatoko.com/ifr_iklan.php" scrolling="yes" name="frku" height="1000"></iframe>
	  </font>
	  </td>
    </tr>
  </table>


</td>
</tr>
</table>

</tr>
</table>





<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{sumber}/inc/bootstrap/jquery.js"></script>
<script src="{sumber}/inc/bootstrap/bootstrap.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{sumber}/inc/bootstrap/ie10-viewport-bug-workaround.js"></script>
  

<script charset="UTF-8" src="{sumber}/inc/bootstrap/hdv.js" type="application/javascript"></script>




  <table width="100%" border="0" cellpadding="5" cellspacing="0">
    <tr>
      <td align="left" bgcolor="maroon">
	  &copy;2017. {versi}
	  </td>
    </tr>
  </table>
  




  <script type="text/javascript">

      var _gaq = _gaq || [];

      _gaq.push(['_setAccount', 'UA-51305170-1']);


      _gaq.push(['_trackPageview']);


      (function() {

        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

        ga.src = ('https:' == document.location.protocol ?  'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

      })();

    </script>







</body>
</html>